include README.md
recursive-include octoprint_psucontrol_togglegpio/templates *
recursive-include octoprint_psucontrol_togglegpio/translations *
recursive-include octoprint_psucontrol_togglegpio/static *
